﻿<div @attributes="Attributes">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@Title</h4>
            <hr />
            <p class="card-text">
                @Content
            </p>
            <p class="card-text d-flex flex-column">
                @Note
            </p>
        </div>

        @if (!string.IsNullOrWhiteSpace(ImageSrc))
        {
            <hr />
            <img src="@ImageSrc"
                 alt="@ImageSrc"
                 class="card-img-top img-fluid p-3" />
        }
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment Title { get; set; }
    [Parameter]
    public RenderFragment Content { get; set; }
    [Parameter]
    public RenderFragment Note { get; set; }
    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }
}
