﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Sdlc.Web <ProjectVersion class="text-muted"/></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Wellcome
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sdlc">
                <span class="oi oi-aperture"></span> SDLC
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="versioning">
                <span class="oi oi-signpost"></span> Versioning
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ci-cd">
                <span class="oi oi-fork"></span> CI/CD
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
