﻿@page "/ci-cd"

<div class="container">
    <div class="row">

        <Card class="col-12 mb-4">
            <Title>Continuous integration</Title>
            <Content>
                In software engineering,
                <strong>continuous integration (CI)</strong>
                is the practice of merging all developers' working copies to a shared
                mainline several times a day. Grady Booch first proposed the term
                CI in his 1991 method, although he did not advocate integrating
                several times a day. Extreme programming (XP) adopted the concept
                of CI and did advocate integrating more than once per day – perhaps
                as many as tens of times per day.
            </Content>
            <Note>
                <small>
                    <a href="https://en.wikipedia.org/wiki/Continuous_integration"
                       class="text-muted">
                        Continuous integration - Wiki
                    </a>
                </small>
            </Note>
        </Card>

        <Card class="col-12 mb-4">
            <Title>Continuous delivery</Title>
            <Content>
                <strong>Continuous delivery (CD)</strong> is a software engineering
                approach in which teams produce software in short cycles, ensuring
                that the software can be reliably released at any time and, when
                releasing the software, doing so manually. It aims at building,
                testing, and releasing software with greater speed and frequency.
                The approach helps reduce the cost, time, and risk of delivering changes
                by allowing for more incremental updates to applications in production.
                A straightforward and repeatable deployment process is important for
                continuous delivery.
            </Content>
            <Note>
                <small>
                    <a href="https://en.wikipedia.org/wiki/Continuous_delivery"
                       class="text-muted">
                        Continuous delivery - Wiki
                    </a>
                </small>
            </Note>
        </Card>

        <Card class="col-12 mb-4">
            <Title>Continuous deployment</Title>
            <Content>
                <strong>Continuous deployment (CD)</strong> is a software engineering approach
                in which software functionalities are delivered frequently through automated
                deployments. CD contrasts with continuous delivery, a similar approach in which
                software functionalities are also frequently delivered and deemed to be
                potentially capable of being deployed but are actually not deployed.
            </Content>
            <Note>
                <small>
                    <a href="https://en.wikipedia.org/wiki/Continuous_deployment"
                       class="text-muted">
                        Continuous deployment - Wiki
                    </a>
                </small>
            </Note>
        </Card>

        <Card class="col-12 mb-4">
            <Title>Modern Services</Title>
            <Content>
                All modern code hosting services provides functionality to run
                <strong>Full</strong> SDLC process.
                <ul>
                    <li>GitLab</li>
                    <li>GitHub</li>
                    <li>Azure DevOps <small>(noun as VSTS)</small></li>
                    <li>Bitbucket</li>
                    <li>and all other cool 🤓 servicess...</li>
                </ul>
            </Content>
        </Card>

        <Card class="col-12 mb-4">
            <Title>dotnet ❤️ Linux</Title>
            <Content>
                <h5>.NET</h5>
                <p>
                    .NET is a free, cross-platform, open source developer platform for
                    building many different types of applications.
                </p>
                <p>
                    With .NET, you can use multiple languages, editors, and libraries to
                    build for web, mobile, desktop, gaming, and IoT.
                </p>

                <h5>I Love ❤️ Docker</h5>
                <p>
                    Docker is a set of platform as a service products that uses OS-level
                    virtualization to deliver software in packages called containers.
                </p>

                <p>
                    All you need to build and run scalable dotnet application is:
                    <ul>
                        <li>dotnet/core/sdk: .NET Core SDK</li>
                        <li>dotnet/core/aspnet: ASP.NET Core Runtime</li>
                        <li>dotnet/core/runtime: .NET Core Runtime</li>
                    </ul>
                    <a href="https://hub.docker.com/_/microsoft-dotnet-core">
                        Go to Microsoft Docker containers
                    </a>
                </p>

            </Content>
            <Note>
                <small>
                    <a href="https://dotnet.microsoft.com/learn/dotnet/what-is-dotnet"
                       class="text-muted">
                        What is .NET? - Microsoft
                    </a>
                </small>
            </Note>
        </Card>

        <Card class="col-12 mb-4">
            <Title>dotnet tool</Title>
            <Content>
                <p>
                    The dotnet tool install command provides a way for you to
                    install .NET Core tools on your machine.
                </p>
                <ul>
                    <li>gitversion - GitVersion looks at your git history and works out the semantic version of the commit being built.</li>
                    <li>versioninfo - Display version information of .NET Core assemblies.</li>
                </ul>
            </Content>
            <Note>
                <small>
                    <a href="https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-tool-install"
                       class="text-muted">
                        dotnet tool install - Microsoft Docs
                    </a>
                </small>
                <small>
                    <a href="https://github.com/natemcmaster/dotnet-tools"
                       class="text-muted">
                        dotnet-tools - GitHub
                    </a>
                </small>
                <small>
                    <a href="https://github.com/GitTools/GitVersion"
                       class="text-muted">
                        GitVersion - GitHub
                    </a>
                </small>
                <small>
                    <a href="https://github.com/taylorjg/dotnet-versioninfo"
                       class="text-muted">
                        dotnet-versioninfo - GitHub
                    </a>
                </small>
            </Note>
        </Card>
    </div>
</div>