﻿@page "/"

<div class="jumbotron">
    <h1>Hello, SDLC!</h1>
    <p class="lead">Version <ProjectVersion class="text-muted" /></p>
    <hr class="my-4">
    <p>
        The project <b>goal</b> is show how <b>SDLC</b> works in real life project.
    </p>
</div>